<h2>Update your task, bro</h2>

<%= form_for(@task) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :details %>
  <%= form.text_field :details %>
  <%= form.submit "Edit task" %>
<% end %>
